/* General styles for the entire page */
body {
  font-family: 'Arial Black', cursive;
  background-image: url('src/assets/images/wines.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff; /* White text */
  flex-direction: column;
}

h1 {
  color: #fff; /* White text */
}

/* Styles for the main "LUSH" heading */
.lush {
  color: #fff;
  font-size: 5em;
  text-shadow: 2px 2px 4px #600020,
               4px 4px 6px #600020,
               6px 6px 8px #600020; /* 3D effect */
}

/* Styles for the button */
.returning-button,
.create-account-button {
  background-color: #fff; /* White background */
  color: #600020; /* Wine red text */
  padding: 20px;
  cursor: pointer;
  border: 2px solid #600020; /* Wine red border */
  outline: none;
  animation: vibrate 0.3s infinite alternate;
  margin-left: 100px; /* Adjust the indentation as needed */
}

/* Updated styles for hover, focus, and active states */
.returning-button:hover,
.returning-button:focus,
.returning-button:active,
.create-account-button:hover,
.create-account-button:focus,
.create-account-button:active {
  background-color: #600020 !important; /* Deep wine red on hover/focus/active */
  border: 2px solid #fff !important; /* White border on hover/focus/active */
  color: #fff !important; /* White text color on hover/focus/active */
  outline: none !important; /* Remove outline on hover/focus/active */
  animation: none !important; /* Disable animation on hover/focus/active */
}

@keyframes vibrate {
  to {
    transform: translateX(5px); /* vibrating effect */
  }
}

.link-container {
  margin-left: 20px;
}

/* Add indentation to the text */
.instructions-indented-text {
  margin-left: 210px; /* Adjust the indentation as needed */
}